<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-11 col-xl-10 col-xxl-9 mx-auto">
      <div class="card">
        <div class="card-body">

          <div class="row mb-3">
            <div class="col">
              <div class="alert alert-info mb-0" role="alert">
                <div class="d-flex">
                  <div>
                    <i class="far fa-lightbulb fa-lg me-3"></i>
                  </div>

                  <div>
                    После успешного сохранения формы возвращайтесь к списку виджетов для вставки виджета в статью.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row gy-3">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 col-xxl-4">

              <div class="card bg-light">
                <div class="card-header">
                  <div class="card-title align-items-center d-flex">
                    <%= t('.widget_form') %>
                  </div>
                </div>

                <div class="card-body">
                  <%= render 'form', widgets_simple: @widgets_simple %>
                </div>
              </div>
            </div>
            <div class="col mx-auto">
              <div class="card">
                <div class="card-header">
                  <div class="card-title align-items-center d-flex">
                    <%= t('.widget_preview') %>
                  </div>
                </div>

                <div class="card-body my-3">
                  <%= render 'widgets/widget', widget: @widgets_simple.widget  %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
