<%= link_to '#', class: 'nav-link px-0', data: {'bs-toggle': 'dropdown'} do %>
  <%== GlobalHelper.icon('star') %>&nbsp;<%# t('language', scope: [:header]) %>
<% end %>

<div class="dropdown-menu dropdown-menu-end">
  <%= link_to 'favorites', favorites_path, class: 'dropdown-item' %>
  <div class="dropdown-divider"></div>
  <% helpers.favorites_dropdown_items.each do |favorite| %>
    <%= link_to "#{favorite['kind']}: #{favorite['name']}", polymorphic_path(favorite['kind']), class: 'dropdown-item' %>
  <% end %>
</div>
