<%= link_to '#', class: 'nav-link px-0', data: {'bs-toggle': 'dropdown'} do %>
  <%== GlobalHelper.icon('world') %>&nbsp;
  <% if @display_title %>
    <%= t('.title') %>
  <% end %>
<% end %>

<div class="dropdown-menu dropdown-menu-end">
  <% Rails.configuration.global[:languages].each do |language| %>
    <% css_class = 'dropdown-item' %>
    <% css_class << ' disabled' if language[:disabled] %>
    <%= link_to language[:language], url_for(:locale => language[:domain], :overwrite_params=>{}), class: css_class %>
  <% end %>
</div>
