<div class="card my-4">
  <div class="card-body">
    <div class="mb-3">
      <h3><%= post.title %></h3>
      <%= post.intro %>
    </div>
    <%= link_to t('details'), article_path(post, locale: nil) %>
  </div>
</div>
