<%= tag.div test_id => 'link-to-newer-article' do %>
  <div class="tw-bg-indigo-300">
  <% page = params['page'].to_i %>

  <% if page > 0 %>
    <%= link_to frames_articles_latest_path(page: page - 1),
                test_id => 'newer-article',
                class: 'p-1' do %>
      <i class="fas fa-chevron-right"></i>
    <% end %>
  <% else %>
    <%= tag.span test_id => 'newer-article',
                 class: 'link-dark p-1' do %>
      <i class="fas fa-chevron-right"></i>
    <% end %>
  <% end %>
  </div>
<% end %>
