<div class="col-4 mb-3">
  <div class="card card-sm">
    <div class="card-body">
      <div class="row align-items-center">
        <div class="col-auto">
          <span class="bg-blue text-white avatar">
            <i class="fas fa-money-bill-wave-alt fa-lg"></i>
          </span>
        </div>
        <div class="col">
          <div class="font-weight-medium">
            Валюта: <%= currency_code %>
          </div>
          <div class="text-muted">
            <%= GlobalHelper.decorate_money(currency_value * 1000, currency_code) %> за 1000 символов
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
