<div class="row row-cards">
  <div class="col-3">
    <div class="card">
      <div class="ratio ratio-21x9 card-img-top">
        <div class="skeleton-image"></div>
      </div>
      <div class="card-body">
        <div class="skeleton-heading"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="ratio ratio-21x9 card-img-top">
        <div class="skeleton-image"></div>
      </div>
      <div class="card-body">
        <div class="skeleton-heading"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="ratio ratio-21x9 card-img-top">
        <div class="skeleton-image"></div>
      </div>
      <div class="card-body">
        <div class="skeleton-heading"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <div class="ratio ratio-21x9 card-img-top">
        <div class="skeleton-image"></div>
      </div>
      <div class="card-body">
        <div class="skeleton-heading"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-auto">
                <div class="skeleton-avatar"></div>
              </div>
              <div class="col">
                <div class="skeleton-line"></div>
                <div class="skeleton-line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <div class="card-body py-5 text-center">
            <div>
              <div class="skeleton-avatar skeleton-avatar-lg"></div>
            </div>
            <div class="mt w-75 mx-auto">
              <div class="skeleton-heading"></div>
              <div class="skeleton-line"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="row row-cards">
      <div class="col-12">
        <div class="card">
          <div class="card-body text-end">
            <div class="skeleton-heading"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line"></div>
            <div class="skeleton-line"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="skeleton-avatar"></div>
                </div>
                <div class="col-7">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="skeleton-avatar"></div>
                </div>
                <div class="col-7">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="skeleton-avatar"></div>
                </div>
                <div class="col-7">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row align-items-center">
                <div class="col-auto">
                  <div class="skeleton-avatar"></div>
                </div>
                <div class="col-7">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
                <div class="col-2 ms-auto text-end">
                  <div class="skeleton-line"></div>
                  <div class="skeleton-line"></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
