<div class="dropdown">

  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">
    <%= t('buttons.controls') %>
  </button>

  <div class="dropdown-menu">

    <% if policy(row).show? %>
      <%= link_to t('buttons.show'), favorite_path(row.id), class: 'dropdown-item' %>
    <% end %>

    <% if policy(row).edit? %>
      <%= link_to t('buttons.edit'), edit_favorite_path(row.id), class: 'dropdown-item' %>
    <% end %>

    <% if policy(row).destroy? %>
      <%= link_to t('buttons.delete'), favorite_path(row.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' %>
    <% end %>

  </div>
</div>
