<div class="dropdown">

  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">
    № <%= row.id %>
  </button>

  <% favorite = Favorite.find(row.id) %>

  <div class="dropdown-menu">

    <% if policy(favorite).show? %>
      <%= link_to t('buttons.show'), favorite_path(row.id), class: 'dropdown-item' %>
    <% end %>

    <% if policy(favorite).edit? %>
      <%= link_to t('buttons.edit'), edit_favorite_path(row.id), class: 'dropdown-item' %>
    <% end %>

    <% if policy(favorite).destroy? %>
      <%= link_to t('buttons.delete'), favorite_path(row.id), method: :delete, data: { confirm: t('are_you_sure') }, class: 'dropdown-item' %>
    <% end %>

  </div>
</div>
