<%= render ReactComponent.new(name: 'ListingEntities',
                              class: '',
                              props: {  }) do |component| %>

<% end %>

<div class="tw-relative">
  <%= render(
        ReactComponent.new(name: 'ListingMentions',
                           class: 'tw-contents',
                           props: {
                             listing_id: params[:id]
                           }))
  %>
</div>
