<%= render ReactComponent.new(name: 'ListingEntities',
                              class: '',
                              props: {  }) do |component| %>

<% end %>

<div class="tw-relative">
  <%= render(
    ReactComponent.new(name: 'ListingMentions',
                        class: 'tw-contents',
                        props: {
                          listingId: params[:id]
                        })) do |component| %>

      <% if false %>
        <%= component.draft do %>
          <% @draft[:mentions].each do |mention| %>
            <%= render(MentionComponent.new(mention: mention)) %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</div>
