<%= link_to(destroy_user_session_path, method: :delete, class: 'dropdown-item', id: 'logout') do %>
  <div class="dropdown-item-icon">
    <i class="fas fa-sign-out-alt"></i>
  </div>
  <%= t('header.menu.logout') %>
<% end %>
