<%= link_to(settings_profile_path, class: 'dropdown-item', id: 'settings') do %>
  <div class="dropdown-item-icon">
    <i class="fas fa-cog"></i>
  </div>
  <%= t('header.menu.settings') %>
<% end %>
