<div class="mb-3 col-sm-9 col-md-8 col-lg-8 col-xl-5 offset-xxl-2 col-xxl-4">
  <div class="card bg-muted-lt">
    <div class="card-header">
      <div class="card-title align-items-center d-flex">
        <% if current_user.staff? %>
          <%= t('.user_balance', user: check.user.to_label) %>
        <% else %>
          <%= t('.balance') %>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="row row-cards">
        <% Rails.configuration.available_currencies.each do |currency| %>
          <%= render 'shared/balance/account', currency: currency, user: check.user %>
        <% end %>
      </div>
    </div>
  </div>
</div>
