<% @results['hits']['hits'].each do |advertiser| %>
  <h2 style="padding-top: 30px"><%= advertiser['_source']['advertiser_name'] %></h2>
  <% advertiser['inner_hits']['offers']['hits']['hits'].each do |offer| %>
    <% picture = offer['_source']['picture'] && offer['_source']['picture'].first['#'] %>
    <%= image_tag(picture, style: 'max-width: 150px; max-height: 150px') if picture %>
    <% if true %>
      <div>
        <%= offer.dig('_source', 'name', 0, '#') %> $ <%= offer.dig('_source', 'description', 0, '#') %>
      </div>
    <% end %>
  <% end %>
<% end %>
