<%= link_to '#', class: 'nav-link px-0',
            'data-bs-toggle': 'dropdown',
            'data-navbar-favorite-target': 'dropdown' do %>
  <div class="dropdown-item-icon">
    <i class="fas fa-star fa-lg"></i>
  </div>
  <% if @display_title %>
    <%= t('.title') %>
  <% end %>
<% end %>

<%= tag.div class: 'dropdown-menu dropdown-menu-end' do %>
  <%= tag.div "data-navbar-favorite-target": 'itemsList' %>
<% end %>
