<div class="alert alert-important alert-<%= @alert_type %> alert-dismissible" role="alert">
  <div class="d-flex">
    <div>
      <i class="fas fa-info-circle fa-lg me-3"></i>
    </div>
    <div>
      <%= @message %>
    </div>
  </div>
  <a class="btn-close btn-close-white" data-bs-dismiss="alert" aria-label="close"></a>
</div>
