<div class="card-header page-header mb-0">
  <div class="d-none d-md-block mr-4">
    <%= render 'table/search/bar', btn_class: 'btn-light btn-outline capybara-table-header-search' %>
  </div>
  <%= render 'table/columns/toggler' %>
  <%= render 'template/workspace/toggler' %>
  <%= render 'template/items_summary', rows: rows %>
</div>
