<div data-controller="modal-embed" data-target="posts-form.modalEmbed" class="modal modal-blur fade" tabindex="-1">
  <div class="modal-dialog  modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><%= t('.embed_offer') %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <div class="form-group mb-3">
          <label class="form-label"><%= t('.select') %></label>
          <div data-target="modal-embed.favoritesNamesSelect">
          </div>
        </div>

        <div class="row" data-target="modal-embed.offersPlaceholder">
        </div>

        <div class="row" data-target="modal-embed.paginationPlaceholder">
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-bs-dismiss="modal">
          <%= t('cancel') %>
        </a>
      </div>

    </div>
  </div>
</div>
