<div class="tw-relative">
  <%= render(
        ReactComponent.new(name: 'Mentions',
                           class: 'tw-contents',
                           props: {
                             searchString: params[:q]
                           }))
  %>
</div>

<%#= paginate @mentions, window: 3 %>
