<footer class="footer footer-transparent">
  <div class="container-xl">
    <div class="row texnot-center align-items-center flex-row-reverse">
      <div class="col-lg-auto ms-lg-auto">
        <ul class="list-inline list-inline-dots mb-0 ms-0">
          <li class="list-inline-item">
            <a href="https://rubyonrails.org" class="link-secondary">Made with ❤ Ruby on Rails</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-lg-auto mt-3 mt-lg-0">
        Copyright © 2020
        <a href="/" class="link-secondary">Good Reviews</a>.
        All rights reserved.
        <br>
        г. Москва, ул. 8 Марта, д. 8, корп. 2, оф. 83, <a class="link-secondary text-nowrap" href="https://t.me/woto7">+7 (916) 907-27-88</a>
      </div>
    </div>
  </div>
</footer>
