<%= tag.div 'data-controller': "character-counter", class: 'mb-3' do %>
  <%= f.input :intro,
              wrapper_html: {
                style: "margin-bottom: 0 !important;"
              },
              input_html: {
                rows: 3,
                'data-character-counter-target': "input"
              } %>
  <div class="text-end fs-6 text-secondary mt-1">
    <small>
      <span  data-character-counter-target="counter"></span> / 250
    </small>
  </div>
<% end %>