<div class="text-center">
  <%= image_tag(@entity.image ?
                  @entity.image.derivation_url(:thumbnail, 100, 100) :
                  asset_pack_path('media/images/icon-404-100.png'),
                class: 'mb-2 img-thumbnail'
                ) %>
</div>

  <% if @entity.intro.present? %>
    <span>
      <%= @entity.intro %>
    </span>
  <% end %>

<div class="mt-2 overflow-hidden">
  <%= render(TextTagComponent.with_collection(@entity.lookups.map(&:to_label), color: 'azure')) %>
</div>

<div class="mt-1 overflow-hidden">
  <%= render(TextTagComponent.with_collection(@entity.topics.map(&:to_label))) %>
</div>