<form>
  <div class="mb-3">
    <div class="form-selectgroup form-selectgroup-pills">
      <%= hidden_field_tag('languages[]', '') %>
      <% feeds_languages_for_filter.each do |locale| %>
        <label class="form-selectgroup-item">
          <%= check_box_tag('languages[]', locale[:locale], params[:languages]&.include?(locale[:locale]), class: 'form-selectgroup-input') %>
          <span class="form-selectgroup-label"><%= locale[:title] %></span>
        </label>
      <% end %>
      <button type="submit" class="btn btn-pink btn-pill"><%= t('ok') %></button>
    </div>
  </div>
</form>
