<% if params[:q].present? %>
<%# if params[:favorite_id].present? || params[:q].present? %>
  <div class="alert alert-important alert-info mt-3" role="alert">
    <div class="d-flex">
      <div>
        <i class="far fa-lightbulb fa-lg me-3"></i>
      </div>

      <div>

        Возможно часть товаров не отображается.

        <% if params[:q].present?%>
          <%= link_to 'Отключить поиск по тексту.',
                      url_for(
                        {}.tap do |hsh|
                          hsh[:favorite_id] = params[:favorite_id]
                          # hsh[:sort] = params[:sort]
                          # hsh[:order] = params[:order]
                          hsh[:per] = params[:per]
                          # hsh[:page] = params[:page]
                          # hsh[:feed_id] = params[:feed_id]
                          # hsh[:category_id] = params[:category_id] if params[:category_id].present?
                        end
                      ),
                      class: 'text-reset', style: "font-weight: bold" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
