<div class="list-group list-group-flush scrollable" style="max-height: 600px">
  <a href="#" class="list-group-item list-group-item-action active">
    Cras justo odio
  </a>
  <% @result['aggregations']['group_by_month']['buckets'].each do |item| %>
    <% next if item['doc_count'].zero? %>

    <% link_value = l Time.zone.parse(item['key_as_string']), format: "%Y %B" %>
    <%= link_to by_tag_news_index_path(link_value), class: 'list-group-item d-flex list-group-item-action justify-content-between align-items-center' do %>
      <%= link_value %>
      <span class="badge badge-primary badge-pill"><%= item['doc_count'] %></span>
    <% end %>
  <% end %>
</div>
