<li class="nav-item unauthenticated_component">
  <%= link_to new_user_session_path,
              class: "#{@capybara_browser} nav-link" do %>
    <div class="dropdown-item-icon">
      <i class="fas fa-sign-in-alt fa-lg"></i>
    </div>
    <span class="tw-text-yellow-500 hover:!tw-text-yellow-600 md:tw-text-red-500 md:hover:!tw-text-red-600">
      <%= t('header.menu.login') %>
    </span>
  <% end %>
</li>
