.private-logo {
  height: 32px;
  background: url('https://gw.alipayobjects.com/mdn/rms_ae7ad9/afts/img/A*GzZ-QqkpH4AAAAAAAAAAAABkARQnAQ');
  margin: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}