<%= render ReactComponent.new(name: 'ListingEntities',
                              class: '',
                              props: {  }) do |component| %>

<% end %>

<div class="tw-relative">
  <%= render(
    ReactComponent.new(name: 'Mentions',
                        class: 'tw-contents',
                        props: {
                          mentionId: params[:id]
                        })) do |component| %>

      <%= component.draft do %>
        <% @draft[:mentions].each do |mention| %>
          <%= render(MentionComponent.new(mention: mention)) %>
        <% end %>
      <% end %>
    <% end %>
</div>
