.favorite--text-field {
  border-radius: 0;
  border-left: 0;
  border-bottom: 0;
}

.favorite--button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
  border-right: 0
}
