@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');


body {
    font-family: 'Roboto', sans-serif;
}

.textarea-large-hack {
    font-size: 16px;
    padding: 6px 11px;
    height: 40px;
    font-size: 16px;
}

.dynamic-delete-button {
    font-size: 24px;
    position: relative;
    top: 14px;
}

.private-logo {
    height: 32px;
    background: url('https://gw.alipayobjects.com/mdn/rms_ae7ad9/afts/img/A*GzZ-QqkpH4AAAAAAAAAAAABkARQnAQ');
    margin: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .ant-page-header {
    margin-bottom: 2.5rem !important;
  }