@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

body {
	font-family: 'Roboto', sans-serif;
}

// post url textarea
.textarea-large-hack {
	font-size: 16px;
	padding: 6px 11px;
	height: 40px;
	font-size: 16px;
}

// unbind social account button
.dynamic-delete-button {
	font-size: 24px;
	position: relative;
	top: 14px;
}

// top logo in left menu
.private-logo {
	height: 32px;
	background: url('https://gw.alipayobjects.com/mdn/rms_ae7ad9/afts/img/A*GzZ-QqkpH4AAAAAAAAAAAABkARQnAQ');
	margin: 16px;
	background-size: contain;
	background-repeat: no-repeat;
}

.ant-page-header {
	margin-bottom: 2.5rem !important;
}

// ckeditor on post page
.editor {
	font-size: 18px;
	ol {
		list-style-type: decimal;
		padding: 0;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	ul {
		list-style-type: disc;
		padding: 0;
		margin-left: 1rem;
		margin-bottom: 1rem;
	}
	li {
		padding: 0;
		margin-left: 1rem;
	}
	p {
		padding: 0;
		margin: 1rem 0;
	}
}

// user avatar
.avatar-uploader > .ant-upload {
	width: 128px;
	height: 128px;
}
