@import "trix/dist/trix";

trix-editor {
  min-height: 320px !important;
  font-size: 1rem !important;
}

trix-toolbar {
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding-top: 1rem;
}

.trix-content {

  .attachment-gallery {
    > action-text-attachment,
    > .attachment {
      flex: 1 0 33%;
      padding: 0 0.5em;
      max-width: 33%;
    }

    &.attachment-gallery--2,
    &.attachment-gallery--4 {
      > action-text-attachment,
      > .attachment {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  action-text-attachment {
    .attachment {
      padding: 0 !important;
      max-width: 100% !important;
    }
  }
}
