$sizes: 10, 20, 30, 40, 50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750;

@each $size in $sizes {

  .width-#{$size} {
    width: #{$size}px !important;
  }

  .min-width-#{$size} {
    min-width: #{$size}px !important;
  }

  .max-width-#{$size} {
    max-width: #{$size}px !important;
  }

  .height-#{$size} {
    height: #{$size}px !important;
  }

  .min-height-#{$size} {
    min-height: #{$size}px !important;
  }

  .max-height-#{$size} {
    max-height: #{$size}px !important;
  }
}
