.max-height-300 {
  max-height: 300px !important;
}

.max-height-350 {
  max-height: 350px !important;
}

.max-height-400 {
  max-height: 400px !important;
}

.max-height-450 {
  max-height: 450px !important;
}

.max-height-500 {
  max-height: 500px !important;
}

.max-height-550 {
  max-height: 550px !important;
}

.max-height-600 {
  max-height: 600px !important;
}

.width-300 {
  width: 300px !important;
}

.width-350 {
  width: 350px !important;
}

.width-400 {
  width: 400px !important;
}

.max-width-300 {
  max-width: 300px !important;
}

.max-width-350 {
  max-width: 350px !important;
}

.max-width-400 {
  max-width: 400px !important;
}

.max-width-450 {
  max-width: 450px !important;
}

.max-width-500 {
  max-width: 500px !important;
}

.max-width-550 {
  max-width: 550px !important;
}

.max-width-600 {
  max-width: 600px !important;
}
