.max-height-300 {
  max-height: 300px !important;
}

.width-300 {
  width: 300px !important;
}

.width-350 {
  width: 350px !important;
}

.width-400 {
  width: 400px !important;
}

.max-width-300 {
  max-width: 300px !important;
}

.max-width-350 {
  max-width: 350px !important;
}

.max-width-400 {
  max-width: 400px !important;
}
