<%= turbo_frame_tag 'pagination', 'autoscroll': 'top' do %>
  <% if @entities.size > 0 %>
    <h4>Похожие объекты</h4>

    <%= tag.div class: 'w-100 text-center text-lg-start' do %>
      <% @entities.each do |entity| %>
        <%= render Entities::CardComponent.new(
          entity_id: entity.id,
          image: entity.image,
          title: entity.title,
          is_main: false,
          intro: entity.intro,
          lookups: entity.lookups,
          assignable: params[:assignable],
          controllable: false,
          form_id: params[:form_id],
        ) %>
      <% end %>
    <% end %>
    <%= paginate @entities %>
  <% end %>
<% end %>