<div class="dropdown">

  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">
    <%= row.id %>
  </button>

  <div class="dropdown-menu">

    <%= link_to t('buttons.show'), check_path(row.id), class: 'dropdown-item' %>

    <% check = Check.find(row.id) %>

    <% if policy(check).edit? %>
      <%= link_to t('buttons.edit'), edit_check_path(row.id), class: 'dropdown-item' %>
    <% end %>
    <% if policy(check).destroy? %>
      <%= link_to t('buttons.delete'), check_path(row.id), method: :delete, data: { confirm: t('are_you_sure') }, class: 'dropdown-item' %>
    <% end %>

  </div>
</div>
