<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title"><%= t('embed_offer') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </button>
      </div>

      <div class="modal-body">
        <div class="mb-3">
          <label class="form-label">Url</label>
          <input data-target="posts-form.offerUrl" data-action="posts-form#offerUrlChange" type="text" class="form-control" name="example-text-input" placeholder="Type offer url">
        </div>

        <label class="form-label"><%= t('embed_type') %></label>

        <div class="form-selectgroup-boxes row mb-3">
          <div class="col-lg-6">
            <label class="form-selectgroup-item">
              <input data-target="posts-form.embedType" data-action="posts-form#embedTypeChange" type="radio" name="report-type" value="first type" class="form-selectgroup-input" checked="">
              <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="mr-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Simple</span>
                      <span class="d-block text-muted">Provide only basic data needed for the report</span>
                    </span>
                  </span>
            </label>
          </div>

          <div class="col-lg-6">
            <label class="form-selectgroup-item">
              <input data-target="posts-form.embedType" data-action="posts-form#embedTypeChange" type="radio" name="report-type" value="second type" class="form-selectgroup-input">
              <span class="form-selectgroup-label d-flex align-items-center p-3">
                    <span class="mr-3">
                      <span class="form-selectgroup-check"></span>
                    </span>
                    <span class="form-selectgroup-label-content">
                      <span class="form-selectgroup-title strong mb-1">Advanced</span>
                      <span class="d-block text-muted">Insert charts and additional advanced analyses to be inserted in the report</span>
                    </span>
                  </span>
            </label>
          </div>
        </div>
        <div>a
          <div data-target="posts-form.offerPlaceholder">
            a
          </div>a
          <%# render Offers::Embed.find('BAh7CEkiCGdpZAY6BkVUSSIzZ2lkOi8vaHViL09mZmVyczo6RW1iZWQvQXpUWUFCczF0bDQ_ZXhwaXJlc19pbgY7AFRJIgxwdXJwb3NlBjsAVEkiD2F0dGFjaGFibGUGOwBUSSIPZXhwaXJlc19hdAY7AFQw--6b0a05ecba5c44a790f06befa375f2eb6b033f69') %>
        </div>
      </div>

      <div class="modal-footer">
        <a href="#" class="btn btn-link link-secondary" data-dismiss="modal">
          Cancel
        </a>
        <a href="#" class="btn btn-primary ml-auto" data-dismiss="modal">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z"></path><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
          Create new report
        </a>
      </div>
    </div>
  </div>
</div>
