<% css_class = 'dropdown-item' %>

<% if @disabled %>
  <% css_class << ' tw-pointer-events-none !tw-text-slate-500'  %>
<% else %>
  <% if @current_page %>
    <% css_class << ' !tw-text-teal-400' %>
  <% else %>
    <% css_class << ' !tw-text-indigo-400'  %>
  <% end %>
<% end %>

<li>
  <%= link_to @path, class: css_class, **@options do %>
    <%= @title %>
  <% end %>
</li>
