<div class="empty" style="height: auto">
  <div class="empty-icon">
    <i class="fas fa-hiking fa-3x"></i>
  </div>
  <p class="empty-title"><%= t('no_results_found') %></p>
  <p class="empty-subtitle text-muted">
    <%= t("try_adjusting_your_search_or_filter_to_find_what_you_are_looking_for") %>
  </p>
  <div class="empty-action">
    <%= link_to :back, class: 'btn btn-primary' do %>
      <i class="fas fa-arrow-left me-2"></i>
      Go Back
    <% end %>
  </div>
</div>
