<div class="card-header page-header mb-0">

  <nav class="nav nav-pills flex-column flex-sm-row">
    <%= render 'collection_controls' %>
    <div class="d-flex">
      <%= render 'columns_toggler' %>
      <%= render 'workspace_toggler' %>
    </div>
  </nav>
</div>
