<header class="navbar navbar-expand-md navbar-light d-none d-lg-flex">
  <div class="container-xl">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbar-menu">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= render 'desktop_wrapper' do %>
      <%= render 'bar', btn_class: 'btn-secondary btn-outline capybara-desktop-header-search' %>
    <% end %>

    <div class="navbar-nav d-flex ms-auto">
      <div class="nav-item dropdown d-none d-md-flex me-3">
        <%= render Header::LanguageComponent.new(capybara_browser: 'capybara-desktop') %>
      </div>
      <%= render Header::ProfileComponent.new(capybara_browser: 'capybara-desktop', current_user: current_user, true_user: true_user) %>
    </div>

  </div>
</header>
