<% if false %>
  <form action="" method="get">
    <div class="subheader mb-2">Rating</div>
    <div class="mb-3">
      <label class="form-check mb-1">
        <input type="radio" class="form-check-input" name="form-stars" value="5 stars" checked="">
        <span class="form-check-label">5 stars</span>
      </label>
      <label class="form-check mb-1">
        <input type="radio" class="form-check-input" name="form-stars" value="4 stars">
        <span class="form-check-label">4 stars</span>
      </label>
      <label class="form-check mb-1">
        <input type="radio" class="form-check-input" name="form-stars" value="3 stars">
        <span class="form-check-label">3 stars</span>
      </label>
      <label class="form-check mb-1">
        <input type="radio" class="form-check-input" name="form-stars" value="2 and less stars">
        <span class="form-check-label">2 and less stars</span>
      </label>
    </div>
    <div class="subheader mb-2">Tags</div>
    <div class="mb-3">
      <label class="form-check mb-1">
        <input type="checkbox" class="form-check-input" name="form-tags[]" value="business" checked="">
        <span class="form-check-label">business</span>
      </label>
      <label class="form-check mb-1">
        <input type="checkbox" class="form-check-input" name="form-tags[]" value="evening">
        <span class="form-check-label">evening</span>
      </label>
      <label class="form-check mb-1">
        <input type="checkbox" class="form-check-input" name="form-tags[]" value="leisure">
        <span class="form-check-label">leisure</span>
      </label>
      <label class="form-check mb-1">
        <input type="checkbox" class="form-check-input" name="form-tags[]" value="party">
        <span class="form-check-label">party</span>
      </label>
    </div>
    <div class="subheader mb-2">Price</div>
    <div class="row row-sm align-items-center mb-3">
      <div class="col">
        <div class="input-group">
                      <span class="input-group-text">
                        $
                      </span>
          <input type="text" class="form-control" placeholder="from" value="3">
        </div>
      </div>
      <div class="col-auto">—</div>
      <div class="col">
        <div class="input-group">
                      <span class="input-group-text">
                        $
                      </span>
          <input type="text" class="form-control" placeholder="to">
        </div>
      </div>
    </div>
    <div class="subheader mb-2">Shipping</div>
    <div>
      <select name="" class="form-select">
        <option>United Kingdom</option>
        <option>USA</option>
        <option>Germany</option>
        <option>Poland</option>
        <option>Other…</option>
      </select>
    </div>
    <div class="mt-5">
      <button class="btn btn-primary btn-block">
        Confirm changes
      </button>
      <a href="#" class="btn btn-link btn-block">
        Reset to defaults
      </a>
    </div>
  </form>
<% end %>
