<div class="navbar-nav flex-row d-lg-none">

  <%= tag.div class: 'nav-item dropdown d-flex d-lg-none me-3', **data_attributes_for_navbar_favorite do %>
    <%= render NavbarFavoriteComponent.new(display_title: false) %>
  <% end %>

  <div class="nav-item dropdown d-flex d-lg-none me-3">
    <%= render Header::LanguageComponent.new(display_title: false, capybara_browser: 'capybara-mobile') %>
  </div>

  <%= render Header::ProfileComponent.new(capybara_browser: 'capybara-mobile', current_user: current_user, true_user: true_user) %>

</div>
