<div class="card-header page-header mb-0">
  <div class="d-none d-md-block me-4">
    <%= render 'bar', btn_class: 'btn-light btn-outline capybara-table-header-search' %>
  </div>
  <%= render 'columns_toggler' %>
  <%= render 'workspace_toggler' %>
  <%= render 'items_summary', rows: rows %>
</div>
