<div class="card-header page-header mb-0">

  <nav class="nav nav-pills flex-column flex-sm-row gap-3">
    <%= render 'items_summary', rows: rows %>
    <%= render 'collection_controls' %>
    <div class="d-flex gap-3">
      <%= render 'columns_toggler' %>
      <%= render 'workspace_toggler' %>
    </div>
  </nav>
</div>
