<div class="2xl:tw-table-row [&:nth-of-type(even)]:tw-bg-slate-100">
  <% if params[:controller] != 'tables/favorites' %>
    <%= render TableComponent::HeaderComponent.new col_name: GlobalHelper::FAVORITE_COLUMN,
                                                   settings: @settings
    %>
  <% end %>

  <% @settings[:form_class].parsed_columns_for(controller, request, current_user && current_user.role).each do |col_name| %>
    <%= render TableComponent::HeaderComponent.new col_name: col_name,
                                                   settings: @settings
    %>
  <% end %>

  <div class="tw-rounded-md 2xl:tw-rounded-none tw-bg-slate-100 tw-inline-block tw-m-1 2xl:tw-m-0 2xl:tw-table-cell tw-align-middle tw-p-2 2xl:tw-border-b 2xl:tw-bg-slate-100 tw-bg-transparent">
  </div>
</div>
