<div class="responsive-table-row">
  <% if params[:controller] != 'tables/favorites' %>
    <%= render TableComponent::HeaderComponent.new col_name: GlobalHelper::FAVORITE_COLUMN,
                                                   settings: @settings
    %>
  <% end %>

  <% @settings[:form_class].parsed_columns_for(controller, request, current_user && current_user.role).each do |col_name| %>
    <%= render TableComponent::HeaderComponent.new col_name: col_name,
                                                   settings: @settings
    %>
  <% end %>

  <div class="responsive-table-th">
  </div>
</div>
