<div class="empty">
  <div class="empty-icon"><!-- SVG icon code -->
  </div>
  <p class="empty-title">No results found</p>
  <p class="empty-subtitle text-muted">
    Try adjusting your search or filter to find what you're looking for.
  </p>
  <div class="empty-action">
    <%= link_to :back, class: 'btn btn-primary' do %>
      <%== GlobalHelper.icon('fall') %>
      Go Back
    <% end %>
  </div>
</div>
