<div class="dropdown">

  <button type="button" class="btn btn-white dropdown-toggle" data-bs-toggle="dropdown">
    № <%= row.id %>
  </button>

  <% entity = Entity.find(row.id) %>

  <div class="dropdown-menu">

    <% if policy(entity).show? %>
      <%= link_to t('buttons.show'), entity_path(entity), class: 'dropdown-item' %>
    <% end %>

    <% if policy(entity).edit? %>
      <%= link_to t('buttons.edit'), edit_entity_path(entity), class: 'dropdown-item', rel: [Seo::NoFollow] %>
    <% end %>
    <% if policy(entity).destroy? %>
      <%= link_to t('buttons.delete'), entity_path(entity), method: :delete, data: { confirm: t('are_you_sure') }, class: 'dropdown-item' %>
    <% end %>

  </div>
</div>
