<% if [@width.to_i, @height.to_i].max > @size.to_i  %>
  <div data-controller="lightbox">
    <%= link_to @original,
                'data-pswp-width': @width,
                'data-pswp-height': @height,
                'target': '_blank',
                class: 'photo-swipe' do %>
      <%= image_tag @thumbnails[@size], class: @class %>
    <% end %>
  </div>
<% else %>
  <%= image_tag @thumbnails[@size], class: @class %>
<% end %>